
.navbar-brand {
  letter-spacing: 3px;
  color: #c24244;
}

.navbar-brand:hover {
	color: #c24244;
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars {
  color: #7f4722;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars {
  color: #7f4722;
}

.navbar-scrolled {
  background-color: #ffede7;
}
/* Navbar başlığı için font boyutu */
.navbar-brand {
    letter-spacing: 3px;
    color: #c24244;
    font-size: 3.1rem; /* Bu değeri ihtiyacınıza göre ayarlayın */
}

/* Navbar linkleri için font boyutu */
.navbar-nav .nav-link {
    font-size: 1.2rem; /* Bu değeri ihtiyacınıza göre ayarlayın */
}

/* Navbar ikonları için font boyutu */
.navbar-nav .nav-link i {
    font-size: 1.5rem; /* Bu değeri ihtiyacınıza göre ayarlayın */
}
.rating {
  direction: rtl;
  unicode-bidi: bidi-override;
}
.rating input[type="radio"] {
  display: none;
}
.rating label {
  font-size: 2rem;
  color: #ddd;
  cursor: pointer;
}
.rating input[type="radio"]:checked ~ label {
  color: #ffd700;
}
.rating label:hover,
.rating label:hover ~ label {
  color: #ffd700;
}
