{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <section style='background-image: url("{% static "mywebsite/images/bg.jpg" %}"); background-size:cover'>
        <div class="container my-5 py-5 text-body">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-6">
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex flex-start w-100">
                                <img class="rounded-circle shadow-1-strong me-3"
                                    src="https://api.multiavatar.com/{{ movie_id }}.png" alt="Avatar" width="65"
                                    height="65" />
                                <div class="w-100">
                                    <!-- Gizli alan ekleyin -->
                                    <input type="hidden" name="movie_id" value="{{ movie_id }}">
                                    
                                    <h5>Add a comment</h5>
                                    <div class="form-outline">
                                        <label class="form-label" for="comment_text">What is your view?</label>
                                        <textarea class="form-control" id="comment_text" name="comment" rows="4" style="border-color: black;"></textarea>
                                    </div>
                                    <fieldset class="rating mt-3">
                                        <legend>Rate The Film</legend>
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label class="fa fa-star" for="star5"></label>
                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label class="fa fa-star" for="star4"></label>
                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label class="fa fa-star" for="star3"></label>
                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label class="fa fa-star" for="star2"></label>
                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label class="fa fa-star" for="star1"></label>
                                    </fieldset>
                                    <div class="d-flex justify-content-between mt-3">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
{% endblock %}
