{% extends "base.html" %}

{% block content %}

<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Mulish', sans-serif;
        transition: 0.3s all ease-in-out;
    }
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #F0F2FB; 
        margin-top: 60px; 
    }
    .comments-container {
        border-radius: 5px;
        padding: 20px;
        background-color: #FFF; 
        width: 80%;
        max-width: 800px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .comment-item {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #DAE1F5; 
        border-radius: 4px;
    }
    .comment-item img {
        border-radius: 50%; 
        margin-right: 15px;
        width: 65px;
        height: 65px; 
        object-fit: cover; 
    }
    .comment-item .text-content {
        flex: 1;
    }
    .comment-item p {
        margin-bottom: 10px;
        color: #545D7A; 
    }
    .comment-item p:first-of-type {
        font-weight: 700;
        color: #10182F; 
    }
    .btn-delete {
        margin-top: 10px;
        color: #fff;
        background-color: #dc3545;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        text-decoration: none;
        font-size: 14px;
    }
</style>

<div class="comments-container">
    <ul>
        {% for comment in comments %}
        <li class="comment-item">
            <img src="https://api.multiavatar.com/{{ comment.id }}.png" alt="Avatar">
            <div class="text-content">
                <p>{{ comment.user }} / {{comment.movie_id}}</p>
                <p>{{ comment.comment_text }}</p>
                <p>Rating: {{ comment.rating }}</p>
                {% if comment.user == user %}
                <a href="{% url 'mywebsite:deletecomment' comment.id %}" class="btn-delete">Delete</a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
